sleep(3000);

rs.initiate();
sleep(15000);

printjson(rs.status());

db.createUser({
  user: "{{mongo_admin_user}}",
  pwd: "{{mongo_admin_pass}}",
  roles: [
    {role: "root", db: "admin"}
  ]
});

