version: "3.7"
services:
  registry:
    environment:
      - REGISTRY_STORAGE_DELETE_ENABLED=true
    image: "registry:latest"
    networks:
      - traefik
    ports:
      - 5000:5000
    volumes:
      - "./config.yml:/etc/docker/registry/config.yml:ro"
    deploy:
      update_config:
        parallelism: 1
        delay: 30s
      restart_policy:
        condition: any
        delay: 10s
      replicas: 1
      labels:
        - traefik.frontend.rule=Host:{{docker_registry_hostname}}
        - traefik.enable=true
        - traefik.port=5000
        - traefik.docker.network=traefik

networks:
  traefik:
    driver: overlay
    external: true
