##
# gocd stack
##
# This file is a Jinja2 template
# Which means you can use variables defined in group_vars here
# @see https://docs.ansible.com/ansible/latest/user_guide/playbooks_templating.html
##
version: "3.7"
volumes:
  go_server_data:
    
networks:
  traefik:
    driver: overlay
    external: true
 
services:
  # GOCD
  # Master to be deployed in Swarm manager node
  gocd-server:
    image: dhileepbalaji/gocd-server 
    ports:
      - "8153:8153"
    networks:
      - traefik
    volumes:
      - go_server_data:/godata
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
        delay: 30s
      restart_policy:
        condition: always
        delay: 10s
      placement:
        constraints:
          - node.role == manager
      resources:
        limits:
          cpus: '0.80'
          memory: 1024M
        reservations:
          cpus: '0.10'
          memory: 20M
  go-agent:
    image: dhileepbalaji/gocd-agent 
    environment:
      GO_SERVER_URL: https://gocd-server:8154/go
    networks:
      - traefik
    volumes: 
      - "/var/run/docker.sock:/var/run/docker.sock"
    deploy:
      mode: replicated
      placement:
        constraints:
          - node.role == manager
      replicas: 1
      update_config:
        parallelism: 1
        delay: 30s
      restart_policy:
        condition: always
        delay: 10s
      resources:
        limits:
          cpus: '0.80'
          memory: 1024M
